.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26px;
}

@media only screen and (min-width: 960px) {
  .buttonWrapper {
    flex-direction: row;
    justify-content: center;
    gap: 13px;
    margin-bottom: 59px;
  }
}

@media only screen and (min-width: 1920px) {
  .buttonWrapper {
    margin-bottom: 0;
    margin-top: 35px;
  }
}

.donateButton, .infoButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: var(--bg-details);
  color: var(--buttons-text);
  font-family: "Benzin-Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.donateButton {
  margin: 0 auto 18px;
}

.infoButton {
  margin: 0 auto 18px;
  background-color: var(--buttons-text);
  color: var(--bg-details);
  border: 2px solid var(--bg-details);
}

@media only screen and (min-width: 960px) {
  .donateButton, .infoButton {
    margin: 0;
  }
}

.icon {
  width: 27px;
  height: 18px;
}

.donateButton .icon {
  fill: var(--buttons-text);
}

.infoButton .icon {
  fill: var(--bg-details);
}
