.videoSection {
  max-width: 320px;
  margin: 0 auto;
}

.imageContainer {
  margin-bottom: 14px;
}

.speakAboutImage {
  object-fit: cover;
}

.videoContainer {
  width: 310px;
  height: 175px;
  position: relative;
  margin-bottom: 14px;
}

.video {
  transform: scale(0.55);
  object-fit: cover;
  position: absolute;
  top: -72px;
  left: -125px;
}

@media screen and (min-width: 480px) {
  .videoSection,
  .imageContainer {
    max-width: 100%;
  }

  .videoContainer,
  .speakAboutImage {
    width: 439px;
    height: 248px;
  }

  .videoContainer {
    margin-bottom: 26px;
  }

  .video {
    transform: scale(0.78);
    top: -23px;
    left: -61px;
  }
}

@media screen and (min-width: 768px) {
  .videoSection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .videoContainer,
  .speakAboutImage {
    width: 359px;
    height: 202.39px;
  }

  .video {
    transform: scale(0.632);
    top: -50px;
    left: -100px;
  }

  .videoContainer:last-of-type {
    margin: -20px auto 0 auto;
  }
}

@media screen and (min-width: 960px) {
  .videoSection {
    gap: 13px;
  }

  .videoContainer,
  .speakAboutImage {
    width: 298px;
    height: 168px;
  }

  .videoContainer {
    margin-bottom: 0px;
  }

  .video {
    transform: scale(0.524);
    top: -80px;
    left: -129px;
  }

  .videoContainer:last-of-type {
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .videoSection {
    gap: 16px;
  }

  .videoContainer,
  .speakAboutImage {
    width: 377px;
    height: 212px;
  }

  
  .video {
    transform: scale(0.669);
    top: -58px;
    left: -90px;
  }
}