.imageContainer {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (min-width: 480px) {
  .imageContainer {
    margin-left: -21px;
    margin-right: -21px;
  }
}

@media screen and (min-width: 768px) {
  .imageContainer {
    margin-left: -19px;
    margin-right: -19px;
  }
}

@media screen and (min-width: 960px) {
  .imageContainer {
    margin-left: -50px;
    margin-right: -50px;
  }
}

.centerCrop {
  width: 100%;
  height: 423px;
  object-fit: cover;
  object-position: center;
}

.vacTitle {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--paragraph-text);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .vacTitle {
    font-size: 32px;
  }

  .vacTitle span {
    font-size: 48px;
    line-height: 1;
  }

  .vacTitleDescription {
    font-size: 20px;
    width: 552px;
    margin: 0 auto;
  }
}

.vacTitle span {
  font-family: "Benzin-ExtraBold", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accent-color);
}

.vacTitleDescription {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  text-align: center;
  color: var(--paragraph-text);
}

@media screen and (min-width: 960px) {
  .allVacanciesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .allVacanciesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.vacancieContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

@media screen and (min-width: 768px) {
  .vacancieContainer {
    margin-top: 40px;
  }
}

.vacancieDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .vacancieDescriptionContainer {
    margin-top: 50px;
    width: 727px;
  }
}

@media screen and (min-width: 960px) {
  .vacancieDescriptionContainer {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .vacancieDescriptionContainer {
    width: 391px;
  }
}

@media screen and (min-width: 1920px) {
  .vacancieDescriptionContainer {
    width: 493px;
  }
}

.vacImgBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 480px) {
  .vacImgBtnContainer {
    width: 440px;
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  .vacImgBtnContainer {
    width: 728px;
    height: 344px;
  }
}

@media screen and (min-width: 960px) {
  .vacImgBtnContainer {
    width: 450px;
    height: 344px;
  }
}

@media screen and (min-width: 1200px) {
  .vacImgBtnContainer {
    width: 374px;
  }
}

@media screen and (min-width: 1920px) {
  .vacImgBtnContainer {
    width: 493px;
  }
}

.vacancieImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .vacancieImg {
    width: 440px;
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  .vacancieImg {
    width: 728px;
    height: 344px;
  }
}

@media screen and (min-width: 960px) {
  .vacancieImg {
    width: 450px;
    height: 344px;
  }
}

@media screen and (min-width: 1200px) {
  .vacancieImg {
    width: 374px;
  }
}

@media screen and (min-width: 1920px) {
  .vacancieImg {
    width: 493px;
  }
}

.vacancieTitle {
  color: var(--paragraph-text);
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .vacancieTitle {
    font-size: 36px;
  }
}

.skillsTitle {
  color: var(--paragraph-text);
  font-family: Montserrat-Semibold;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 0;
}

.skillsDescription {
  color: var(--paragraph-text);
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  line-height: normal;
  list-style: disc;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .skillsDescription {
    font-size: 20px;
  }
}

@media screen and (min-width: 960px) {
  .skillsDescription {
    margin-bottom: 8px;
  }
}


.btnRespond {
  width: 247px;
  height: 35px;
  position: relative;
  color: var(--buttons-text);
  text-align: center;
  border: none;
  font-family: Benzin-Medium;
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  background: var(--accent-color);

  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  z-index: 1;
  margin-top: -55px;
  margin-left: 53px;
}

.vacBottomSectionContainer {
  margin-top: -50px;
}

.vacBottomDescription {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  text-align: center;
  color: var(--paragraph-text);
}

@media screen and (min-width: 768px) {
  .vacBottomDescription {
    font-size: 20px;
    width: 726px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 960px) {
  .vacBottomDescription {
    width: 866px;
  }
}

.vacanciesContacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .vacanciesContacts {
    flex-direction: row-reverse;
  }
}

.vacContactInfo {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #5e6a8a;
}

@media screen and (min-width: 768px) {
  .vacContactInfo {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
  }
}

.vacContactInfo a {
  display: block;
  margin-bottom: 3px;
}

.btnContactUs {
  position: relative;
  color: var(--buttons-text);
  text-align: center;
  border: none;
  font-family: "Benzin-Medium";
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  width: 246px;
  height: 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--bg-details);
  margin: 8px auto;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .btnContactUs {
    margin: 8px 0;
    width: 298px;
  }
}

.btnContactUs::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--bg-details);
  transition: width 600ms ease;
  z-index: -1;
}

.btnContactUs:hover::after {
  background: var(--accent-color);
  width: 100%;
}

.btnSvg {
  width: 37px;
  height: 21px;
  fill: var(--buttons-text);
  margin-right: 10px;
}
