.wrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 229px;
    height: 548px;
  }
}

@media only screen and (min-width: 1920px) {
  .wrapper {
    width: 365px;
    height: 607px;
  }
}
