.wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 229px;
    height: 548px;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    width: 335px;
    height: 607px;
    margin-right: -3px;
  }
}
