.wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 229px;
    height: 548px;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--title-small);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 4px;
  }

  .title span {
    font-family: 'Benzin-ExtraBold', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
  }

  .subTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--title-small);

    margin: 0;
    margin-bottom: 20px;
  }

  .collectingList,
  .infoList {
    margin: 0;
    padding: 0;
  }

  .collectingList {
    margin-bottom: 20px;
  }

  .collectingItem:not(:last-child) {
    margin-bottom: 15px;
  }

  .infoItem:not(:last-child) {
    margin-bottom: 17px;
  }

  .infoItem {
    width: 229px;
    height: 64px;
    padding-left: 6px;
    display: flex;
    align-items: center;
  }

  .blue {
    background-color: var(--accent-color);
  }
  .black {
    background-color: var(--title-small);
  }

  .infoIcon {
    margin-right: 12px;
  }

  .blue .infoIcon {
    width: 53px;
    height: 42px;
    fill: #ffffff;
  }
  .black .infoIcon {
    width: 47px;
    height: 37px;
    fill: var(--cards-text);
  }

  .infoTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 5px;
  }
  .black .infoTitle {
    color: var(--cards-text);
  }

  .infoSubTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
  }

  .black .infoSubTitle {
    color: var(--cards-text);
  }

  .infoSubTitle span {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    width: 335px;
    height: 607px;
    margin-right: -3px;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 11px;
    row-gap: 10px;
  }

  .title span {
    font-size: 40px;
    line-height: 55px;
  }

  .subTitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .collectingList {
    margin-bottom: 26px;
  }

  .collectingItem:not(:last-child) {
    margin-bottom: 21px;
  }

  .infoItem:not(:last-child) {
    margin-bottom: 25px;
  }

  .infoItem {
    width: fit-content;
    height: 80px;
    padding-left: 17px;
    padding-right: 24px;
  }

  .infoIcon {
    margin-right: 21px;
  }

  .blue .infoIcon {
    width: 61px;
    height: 48px;
  }
  .black .infoIcon {
    width: 61px;
    height: 49px;
  }

  .infoTitle {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .infoSubTitle {
    font-size: 34px;
    line-height: 1;
  }
  .infoSubTitle span {
    font-size: 20px;
    line-height: 24px;
  }
}
