@keyframes pulsar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}

.upperPart {
  margin-top: 0;
}

.modalGeneralContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
}

@media screen and (min-width: 768px) {
  .modalGeneralContainer {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .modalGeneralContainer {
    height: 100%;
    margin-top: 0;
  }

  .map {
    position: relative;
    z-index: 2;
    margin: 0;
  }

  .upperPart {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    margin-top: 54px;
  }

  .locationIconDnipro,
  .locationIconFenevichi,
  .locationIconKyiv,
  .locationIconOdesa {
    position: absolute;
    width: 62px;
    height: 62px;
    fill: var(--paragraph-text);
    z-index: 3;
    animation: pulsar 1000ms infinite;
  }

  .locationIconKyiv {
    top: 10.5%;
    left: 25.5%;
  }

  .locationIconOdesa {
    top: 33%;
    left: 26%;
  }

  .locationIconDnipro {
    top: 23%;
    left: 39%;
  }

  .locationIconFenevichi {
    top: 9%;
    left: 24%;
  }
}

@media screen and (min-width: 1920px) {
  .upperPart {
    align-items: center;
    column-gap: 48px;
    margin-top: 24px;
  }

  .locationIconDnipro,
  .locationIconFenevichi,
  .locationIconKyiv,
  .locationIconOdesa {
    width: 82px;
    height: 82px;
  }

  .locationIconKyiv {
    top: 13%;
    left: 31%;
  }

  .locationIconOdesa {
    top: 47%;
    left: 31.5%;
  }

  .locationIconDnipro {
    top: 32%;
    left: 45.5%;
  }

  .locationIconFenevichi {
    top: 10%;
    left: 29%;
  }

  .map {
    width: 1168px;
    height: 778px;
  }
}
