.pageWrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  padding-top: 69px;
  padding-bottom: 32px;
}

@media only screen and (min-width: 480px) {
  .pageWrapper {
    width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .pageWrapper {
    width: 768px;
    padding-top: 58px;
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 960px) {
  .pageWrapper {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .pageWrapper {
    width: 1200px;
  }
}

@media only screen and (min-width: 1920px) {
  .pageWrapper {
    width: 1920px;
    padding-top: 58px;
    padding-bottom: 78px;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1920px) {
  .reverse {
    flex-direction: column-reverse;
  }
}
