.backdropModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  backdrop-filter: blur(20px);
  background: rgba(38, 38, 38, 0.21);
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: white;
  min-width: 100px;
  min-height: 100px;
  padding: 0px;
}

.closeBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.btnCloseIcon {
  width: 20.38px;
  height: 20.32px;
  stroke: #333333;
}

@media screen and (min-width: 480px) {
  .closeBtn {
    width: 36px;
    height: 36px;
  }

  .btnCloseIcon {
    width: 30.38px;
    height: 30.32px;
  }
}

@media screen and (min-width: 780px) {
  .closeBtn {
    width: 46px;
    height: 46px;
  }

  .btnCloseIcon {
    width: 40.38px;
    height: 40.32px;
  }
}

@media screen and (min-width: 1200px) {
  .closeBtn {
    width: 66px;
    height: 66px;
  }

  .btnCloseIcon {
    width: 56.38px;
    height: 56.32px;
  }
}

@media screen and (min-width: 1920px) {
  .closeBtn {
    width: 76px;
    height: 76px;
  }
}
