.listPartners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 36px;
  margin-top: 40px;
}

.linkBlur,
.linkImage {
  mix-blend-mode: luminosity;
  transition: all 400ms ease;
}

.linkImage:hover,
.linkImage:focus {
  mix-blend-mode: normal;
}

@media screen and (min-width: 480px) {
  .linkBlur,
  .linkImage {
    width: 196px;
    height: 58px;
  }
}
